project/project
target
emulator/*/*.out
emulator/*/*.out.gz
emulator/*/emulator
emulator/*/emulator-debug
emulator/*/generated-src
emulator/*/obj_dir
emulator/*/generated-src-debug
emulator/*/*.o
emulator/*/*.a
emulator/*/output/
*.tar.gz
install/share
*.pyc
*.swp
*.vcd
*.vpd
.DS_Store
sbt/*/target
*/target
*.log
*.jou
fpga/hdl/Top.v
fpga/ip_repo
fpga/myproj
test_run_dir
