emulator/*/*.out
emulator/*/*.out.gz
emulator/*/emulator
emulator/*/emulator-debug
emulator/*/generated-src
emulator/*/generated-src-debug
emulator/*/*.o
emulator/*/*.a
emulator/*/output/
project/build.scala
project/plugins.sbt
project/build.properties
prefix.mk
*.tar.gz
install/share
*.pyc
*.swp
*.vcd
*.vpd
.DS_Store
sbt/*/target
*/target
*.log
